name: keithschulze.com infra deploy

on:
  pull_request:
  push: { branches: main }

env:
  APP_NAME: "keithschulze"
  DEPLOY_ENV: "dev"
  AWS_REGION: "ap-southeast-2"

permissions:
  id-token: write
  contents: read    # This is required for actions/checkout@v2

jobs:
  plan:
    runs-on: ubuntu-slim
    if: github.ref != 'refs/heads/main'
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v5
      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::801592206232:role/ks-shared-dev-ga-ks
          role-session-name: deploy-ks
          aws-region: ${{ env.AWS_REGION }}
      - name: Setup Nix
        uses: cachix/install-nix-action@v31
      - name: Deploy infra
        run: nix develop --command "deploy/scripts/plan.sh"
  
  deploy:
    runs-on: ubuntu-slim
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v5
      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::801592206232:role/ks-shared-dev-ga-ks
          role-session-name: deploy-ks
          aws-region: ${{ env.AWS_REGION }}
      - name: Setup Nix
        uses: cachix/install-nix-action@v31
      - name: Deploy infra
        run: nix develop --command "deploy/scripts/deploy.sh"
      - name: Build blog
        run: nix build
      - name: Upload content
        run: nix develop --command "deploy/scripts/upload.sh"
