name: keithschulze.com infra deploy

on:
  pull_request:
  push: { branches: main }

env:
  APP_NAME: "keithschulze"
  DEPLOY_ENV: "dev"
  AWS_REGION: "ap-southeast-2"

permissions:
  id-token: write
  contents: read    # This is required for actions/checkout@v2

jobs:
  deploy:
    runs-on: ubuntu-slim
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v6
      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::801592206232:role/ks-shared-dev-ga-ks
          role-session-name: deploy-ks
          aws-region: ${{ env.AWS_REGION }}
      - name: Setup Nix
        uses: cachix/install-nix-action@v31
      - name: Plan infra
        if: github.ref_name != 'main'
        run: nix develop --command "deploy/scripts/plan.sh"
      - name: Deploy infra
        if: github.ref_name == 'main'
        run: nix develop --command "deploy/scripts/deploy.sh"
      - name: Build blog
        if: github.ref_name == 'main'
        run: nix build
      - name: Upload content
        if: github.ref_name == 'main'
        run: nix develop --command "deploy/scripts/upload.sh"
